


 .center{
    width: 50%; 
    /* height: 700px;  */
    margin: auto; 
    padding: 10px;
    /* border: 2px solid red   ; */
} 

.resume{
    padding: 5px;
    padding-right: 50px;
   
    /* border: 2px solid rgb(89, 0, 255); */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: right;
    color: white;
     background-color: rgb(77, 77, 255); 
}

.name-conter{
    /* border: 2px solid rgb(89, 0, 255); */
    height: 100px;
    display: flex;
    padding: 20px;
}

.name{
    /* border: 2px solid rgb(0, 255, 21);   */
    /* height: 50px; */
    width: 60%;
    font-size: 30px;
    display: flex;
    

}
.name-b{
    margin-left: 10px;
    border-bottom: 5px solid rgb(0, 255, 255);
    height: 35px;
    margin-top: 50px;
}

.name-e{
    /* border: 2px solid rgb(89, 0, 255);  */
    /* height: 50px; */
    width: 40%;
    text-align: right;

}

.name-p{
    padding: 5px;
}

.line{
    margin: auto;
    width: 80%;
    border: 1px solid rgb(158, 158, 158);
}

.box-main{
    margin-top: 30px;
}

.EDUCATION{
    margin-top: 30px;
    display: flex;
     border: 3px solid rgb(0, 0, 0) ; 

}

.EDUCATION-mt{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
     /* border: 2px solid rgb(4, 255, 0) ;  */

}
.EDUCATION-t{
    padding-left: 10px;
}

.name-left{
    font-size: 15px;
    font-weight: 700;
    color: rgb(84, 84, 84);
    margin: 20px;
}

.box-l{
    width: 35%;
 /* border: 2px solid rgb(255, 0, 204) ;  */
    
}

.box-r{
    width: 65%;
    /* border: 2px solid rgb(0, 255, 38) ;  */
    
}

.box-skills{
     /* border: 2px solid black ;   */
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    /* height: 300px; */
    display: flex;
}

.box-skills-l{
    width: 45%;
    /* border: 2px solid black ;  */
    margin-left: 10px;
}

.box-skills-r{
    width: 45%;
    /* border: 2px solid black ;  */
    margin-left: 20px;
}



.skills_name{
    margin-top: 20px;
    /* border: 2px solid rgb(255, 0, 0) ;   */
    height: 25px;

}


.ok{
    border: 5px solid rgb(0, 255, 0) ;
    height: 50px;
    width: 50px;
    border-bottom:5px solid rgb(0, 255, 0) ;
    color: yellow;
}

.center_dow_but{
    /* border: 2px solid red ; */
    width: 250px; 
    margin: auto;
}

.dow_but{
    background-color: rgb(75, 75, 75);
    height: 70px;
    margin-top:50px ;
}

#download{
    padding: 10px;
    font-size: 25px;
    width: 250px;
    margin-top:7px;
    background-color:#f40000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
}

#download:hover{
    color: white;
    border: 3px solid white ;
    /* border-bottom: 5px solid rgb(255, 0, 0) ; */
    cursor: pointer;
}

.spcea{
    height: 200px;
}

.edit_div{
    width: 70px;
    padding: 5px;
}
.edit_but{
    background-color: rgb(77, 77, 255);
    border-radius: 5px;
    width: 60px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    padding-top: 5px;
}